<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list> 
  	<welcome-file>index.jsp</welcome-file> 
  
  </welcome-file-list>
  
  <context-param>
    <param-name>User</param-name>
    <param-value>i82gapop</param-value>
  </context-param>
  <context-param>
    <param-name>Pwd</param-name>
    <param-value>i82gapop</param-value>
  </context-param>
  <context-param>
    <param-name>Url</param-name>
    <param-value>jdbc:mysql://oraclepr.uco.es:3306/i82gapop</param-value>
  </context-param>
  <context-param>
    <param-name>sqlprop</param-name>
    <param-value>/WEB-INF/sql.properties</param-value>
  </context-param>



<servlet>
	<servlet-name>CreatePost</servlet-name>
	
	<servlet-class>es.uco.pw.servlets.CreatePost</servlet-class>
	
</servlet>
<servlet-mapping>

	<servlet-name>CreatePost</servlet-name>
	<url-pattern>/CreatePost</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>PostPost</servlet-name>
	
	<servlet-class>es.uco.pw.servlets.PostaPost</servlet-class>
	
</servlet>
<servlet-mapping>

	<servlet-name>PostPost</servlet-name>
	<url-pattern>/PostPost</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>ArchivePost</servlet-name>
	
	<servlet-class>es.uco.pw.servlets.ArchivePost</servlet-class>
	
</servlet>
<servlet-mapping>

	<servlet-name>ArchivePost</servlet-name>
	<url-pattern>/ArchivePost</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>EditPost</servlet-name>
	
	<servlet-class>es.uco.pw.servlets.EditPost</servlet-class>
	
</servlet>
<servlet-mapping>

	<servlet-name>EditPost</servlet-name>
	<url-pattern>/EditPost</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>EditPostBis</servlet-name>
	
	<servlet-class>es.uco.pw.servlets.EditPostBis</servlet-class>
	
</servlet>
<servlet-mapping>

	<servlet-name>EditPostBis</servlet-name>
	<url-pattern>/EditPostBis</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>RecoverPost</servlet-name>
	
	<servlet-class>es.uco.pw.servlets.RecoverPost</servlet-class>
	
</servlet>
<servlet-mapping>

	<servlet-name>RecoverPost</servlet-name>
	<url-pattern>/RecoverPost</url-pattern>

</servlet-mapping>



<servlet>
	<servlet-name>Login</servlet-name>
	
	<jsp-file>/mvc/controller/loginController.jsp</jsp-file>
	

</servlet>
<servlet-mapping>

	<servlet-name>Login</servlet-name>
	<url-pattern>/Login</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>Register</servlet-name>
	
	<jsp-file>/mvc/controller/registerController.jsp</jsp-file>
	

</servlet>
<servlet-mapping>

	<servlet-name>Register</servlet-name>
	<url-pattern>/Register</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>Modify</servlet-name>
	
	<jsp-file>/mvc/controller/modifyController.jsp</jsp-file>
	

</servlet>
<servlet-mapping>

	<servlet-name>Modify</servlet-name>
	<url-pattern>/Modify</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>Logout</servlet-name>
	
	<jsp-file>/mvc/controller/logoutController.jsp</jsp-file>
	

</servlet>
<servlet-mapping>

	<servlet-name>Logout</servlet-name>
	<url-pattern>/Logout</url-pattern>

</servlet-mapping>


</web-app>





